@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Manrope:wght@800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

header img {
    margin-left: 6.5rem;
    margin-right: 4rem;
}

hr {
    width: 85%;
    margin: auto;
    background-color: hsl(223, 64%, 98%);
    height: 2px;
    border: none;
}

.left-header-container {
    font-size: 14px;
    color: hsl(219, 9%, 45%);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
    margin-right: auto;
    cursor: pointer;
}

.right-header-container {
    cursor: pointer;
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: 6rem;
}

.cart-container {
    display: flex;
    align-items: center;
}
.cart-container img {
    height: 15px;
    width: 15px;
}

.profile-container img {
    display: flex;
    align-items: center;
    height: 36px;
    width: 36px;
    margin-left: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-section {
    height: 100vh;
    border: 0;
    margin: 0;
    margin-right: 4rem;
    margin-left: 3rem;
}

.large-image{
    display: flex;
    margin-top: 4rem;
    margin-left: 8rem;
    margin-bottom: .5rem;
}
.large-image img {
    cursor: pointer;
    height: 360px;
    width: 370px;
    max-width: 400px;
    border-radius: 25px;
}

.small-images {
    display: flex;
    flex-direction: row-reverse;
    justify-items: flex-start;
}

.card-small-image {
    cursor: pointer;
    border: 3px transparent  hsl(26, 100%, 55%);
    margin: .85rem;
    margin-right: .55rem;
    padding: 0;
    border-radius: 12px;
}

.card-small-image:hover {
    transition: 0.15s ease-in-out;
    border: 3px solid  hsl(26, 100%, 55%);
    padding: 0;
    border-radius: 16px;
    height: 70px;
    width: 73px;
}

.card-small-image img {
    height: 70px;
    width: 73px;
    border-radius: 12px;
    margin: 0;
    padding: 0;
}
.card-small-image-selected{
    transition: 0.15s ease-in-out;
    border: 3px solid  hsl(26, 100%, 55%);
    padding: 0;
    border-radius: 16px;
    height: 70px;
    width: 73px;
    object-fit: cover;
    overflow: hidden;

}
.small-selected {
    opacity: .2;
}
.card-small-image img:hover {
    
    border: 3px solid  hsl(26, 100%, 55%);
    opacity: .2;
    height: 67px;
    width: 70px;
    object-fit: cover;
    overflow: hidden;
}

.right-container {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    width: 55%;
    justify-items:center;    
    margin-top: 6rem;
    margin-bottom: 25%;   
}

.price-content {
    display: flex;
    margin-top: 1rem;
    padding: auto;
    font-weight: 700;
    align-items: center;
}

.price {
    font-size: 22px;
    margin-right: 1rem;
}

.discount-percent {
    font-size: 14px;
    display: flex;
    color:  hsl(26, 100%, 55%); 
    background-color: hsl(25, 100%, 94%);
    width: 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    height: 22px;
}

h2 {
    margin-bottom:  1rem;
    font-weight: 700;
    font-size: 10px;
    color:  hsl(26, 100%, 55%); 
    letter-spacing: 2px;
}

h1 {
    font-size: 36px;
    margin-bottom: 1.5rem;
}

.main-text {
    font-size: 14px;    
    color: hsl(219, 9%, 45%);
    letter-spacing: .5px;
    line-height: 24px;
}

.buttons {
    display: flex;
    width: 30%;
    background-color: hsl(223, 64%, 98%);
    border-radius: 12px;
    justify-content: space-around;
    align-items: center;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(223, 64%, 98%);
    font-weight: 700;
}
.btn-rmv, .btn-add {
    display: flex;
    margin-bottom: .5rem;
    background-color: transparent;
    font-weight: 700;
    border-style: none;
    color: hsl(26, 100%, 55%);
    font-size: 24px;
    cursor: pointer;
}

.buttons .btn {
    cursor: pointer;
}

h3 {
    text-decoration:line-through;
    margin-top: .5rem;
    font-size: 14px;
    color: hsl(220, 14%, 75%);
}
.shop-container {
    display: flex;
    margin-top: 1.5rem;
    cursor: pointer;
}

.add-cart {
    display: flex;
    height: 38px;
    width: 70%;
    background-color: hsl(26, 100%, 55%);
    border-radius: 8px;
    margin-left: 1rem;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 10px 18px #cccbcb;
    cursor: pointer;
    
}

.add-cart img, h6 {
    background-color: transparent;
    color: #fff;
    margin-right: 1rem ;
}

.add-cart img {
    height: 12px;
    width: 12px;
}

#modal.active {
    margin-right: 2rem;
    position: fixed;
    top: 15%;
    left: 35%;
    opacity: 1;
    overflow: hidden;
    z-index: 10;
    width: 400px;
}
#modal {
    opacity: 0;
    position: fixed;

}

#overlay.active {
    opacity: 1;
    pointer-events: all;
  }
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }

#modal-large-image {
    margin: 0;
    margin-right: 50px;
    margin-right: 2rem;
    /* cursor: none; */
}

.small-images-modal {
    display: flex;
    margin-left: 1.125rem;
}

#modal-small-1 {
    background-color:hsl(0, 0%, 100%);
    height: 67px;
}
#modal-small-2 {
    background-color:hsl(0, 0%, 100%);
    height: 67px;
}
#modal-small-3 {
    background-color:hsl(0, 0%, 100%);
    height: 67px;
}
#modal-small-4 {
    background-color:hsl(0, 0%, 100%);
    height: 67px;
}

.large-One-Modal {
    margin-left: 1.8rem;
    margin-bottom: 1rem;
}
.modal-btn {
    position: absolute;
    border-radius: 50%;
    border-width: .5px;
    border-color: hsl(25, 100%, 94%);
    background-color: hsl(0, 0%, 100%);
    width: 32px;
    height: 32px;
    transition: .9s background;
    /* cursor: pointer; */
    
}

.modal-btn img {
    position: absolute;
    height: 12px;
    width: 6px;
    bottom: 8px;
    right: 14px;
}

#prev {
    position: absolute;
    top: 35%;
    right: 88%;
    cursor: pointer;
}

#next {
    position: absolute;
    top: 33%;
    left: 92%;
    cursor: pointer;
}
.modal-btn .nxt {
    position: absolute;
    right: .75rem;
}

#close-btn.active {
    position: fixed;
    top: 8%;
    left: 62%;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-weight: 700;
    font-size: 18px;
    color: hsl(0, 0%, 100%);
    z-index: 10;
}
#close-btn.active:hover {
    color: hsl(26, 100%, 55%);
}

.card-small-image-Modal {
    cursor: pointer;
    border: 3px transparent  hsl(26, 100%, 55%);
    margin: .85rem;
    margin-right: .55rem;
    padding: 0;
    border-radius: 12px;
}

.card-small-image-Modal:hover {
    transition: 0.15s ease-in-out;
    border: 3px solid  hsl(26, 100%, 55%);
    padding: 0;
    border-radius: 16px;
    height: 70px;
    width: 73px;
}

.card-small-image-Modal img {
    height: 70px;
    width: 73px;
    border-radius: 12px;
    margin: 0;
    padding: 0;
}
.card-small-image-Modal-selected{
    transition: 0.15s ease-in-out;
    border: 3px solid  hsl(26, 100%, 55%);
    padding: 0;
    border-radius: 16px;
    height: 70px;
    width: 73px;
    object-fit: cover;
    overflow: hidden;

}
/* .small-selected {
    opacity: .2;
} */
.card-small-image-Modal img:hover {
    
    border: 3px solid  hsl(26, 100%, 55%);
    opacity: .2;
    height: 67px;
    width: 70px;
    object-fit: cover;
    overflow: hidden;
}
.cart-modal.active {
    position: fixed;
    padding: 1.5rem;
    width: 22%;
    left: 70%;
    top: 8%;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 1px 49px 83px -36px rgba(0,0,0,0.75);
    border-radius: 12px;padding-top: 1rem;
    opacity: 1;
    overflow: hidden;
}

.cart-modal {
    opacity: 0;
    position: fixed;
}
.cart-title {
    margin: 1rem;
    margin-left: 0;
}
.cart-resume-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: hsl(219, 9%, 45%);    
}

.cart-resume-container.empty {
    font-weight: 700;
}
.cart-description {
    font-weight: 300;
}
.cart-description.active {
    color: #fff;
}
.cart-quantity {
    font-weight: 300;
}
.cart-img {
    height: 36px;
    width: 36px;
    margin-right: 1rem;
    margin-left: 0;
    opacity: 1;
}

.cart-img.active{
    opacity: 0;
}

.cart-delete {
    margin-left: 13px;
}

.cart-total {
    margin-left: .5rem;
    color: rgba(0, 0, 0, .75);
    font-size: 14px;
    font-weight: 700;
}

.cart-total.active {
    padding-top: 2.5rem;
}

.cart-resume-final{
    display: flex;
}
.cart-checkout {
    color: hsl(0,0,100%);
    background-color: hsl(26, 100%, 55%);
    border-radius: 12px;
    border-style: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 700;
    height: 48px;
    color: #fff;
    cursor: pointer;
    margin-top: 12px;
    opacity: 1;
}
.cart-checkout.active {
    opacity: 0;
    height: 26px;
}

