@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Manrope:wght@800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(0, 0%, 100%);
}

a {
    color: inherit;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

header img {
    margin-left: 6.5rem;
    margin-right: 4rem;
}

hr {
    width: 85%;
    margin: auto;
    background-color: hsl(223, 64%, 98%);
    height: 2px;
    border: none;
}

.left-header-container {
    font-size: 14px;
    color: hsl(219, 9%, 45%);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
    margin-right: auto;
    cursor: pointer;
}

.right-header-container {
    cursor: pointer;
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: 6rem;
}

.cart-container {
    display: flex;
    align-items: center;
}
.cart-container img {
    height: 15px;
    width: 15px;
}

.profile-container img {
    display: flex;
    align-items: center;
    height: 36px;
    width: 36px;
    margin-left: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-section {
    height: 100vh;
    border: 0;
    margin: 0;
    margin-right: 4rem;
    margin-left: 3rem;
}

.large-image{
    display: flex;
    margin-top: 4rem;
    margin-left: 8rem;
    margin-bottom: .5rem;
}
.large-image img {
    cursor: pointer;
    height: 360px;
    width: 370px;
    border-radius: 25px;
}

.small-images {
    display: flex;
    flex-direction: row-reverse;
    justify-items: flex-start;
}

.card-small-image {
    cursor: pointer;
    border: 3px transparent  hsl(26, 100%, 55%);
    margin: .85rem;
    margin-right: .55rem;
    padding: 0;
    border-radius: 12px;
}

.card-small-image:hover {
    transition: 0.15s ease-in-out;
    border: 3px solid  hsl(26, 100%, 55%);
    padding: 0;
    border-radius: 16px;
    height: 70px;
    width: 73px;
}

.card-small-image img {
    height: 70px;
    width: 73px;
    border-radius: 12px;
    margin: 0;
    padding: 0;
}

.card-small-image img:hover {
    
    border: 3px solid  hsl(26, 100%, 55%);
    opacity: .2;
    height: 67px;
    width: 70px;
}

.right-container {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    width: 55%;
    justify-items:center;    
    margin-top: 6rem;
    margin-bottom: 25%;   
}

.price-content {
    display: flex;
    margin-top: 1rem;
    padding: auto;
    font-weight: 700;
    align-items: center;
}

.price {
    font-size: 22px;
    margin-right: 1rem;
}

.discount-percent {
    font-size: 14px;
    display: flex;
    color:  hsl(26, 100%, 55%); 
    background-color: hsl(25, 100%, 94%);
    width: 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    height: 22px;
}

h2 {
    margin-bottom:  1rem;
    font-weight: 700;
    font-size: 10px;
    color:  hsl(26, 100%, 55%); 
    letter-spacing: 2px;
}

h1 {
    font-size: 36px;
    margin-bottom: 1.5rem;
}

.main-text {
    font-size: 14px;    
    color: hsl(219, 9%, 45%);
    letter-spacing: .5px;
    line-height: 24px;
}

.buttons {
    display: flex;
    width: 30%;
    background-color: hsl(223, 64%, 98%);
    border-radius: 12px;
    justify-content: space-around;
    align-items: center;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(223, 64%, 98%);
    font-weight: 700;
}
.btn-rmv, .btn-add {
    display: flex;
    margin-bottom: .5rem;
    background-color: transparent;
    font-weight: 700;
    border-style: none;
    color: hsl(26, 100%, 55%);
    font-size: 24px;
    cursor: pointer;
}

.buttons .btn {
    cursor: pointer;
}

h3 {
    text-decoration:line-through;
    margin-top: .5rem;
    font-size: 14px;
    color: hsl(220, 14%, 75%);
}
.shop-container {
    display: flex;
    margin-top: 1.5rem;
    cursor: pointer;
}

.add-cart {
    display: flex;
    height: 38px;
    width: 70%;
    background-color: hsl(26, 100%, 55%);
    border-radius: 8px;
    margin-left: 1rem;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 10px 18px #cccbcb
}

.add-cart img, h6 {
    background-color: transparent;
    color: #fff;
    margin-right: 1rem ;
}

.add-cart img {
    height: 12px;
    width: 12px;
}

